.button {
  padding: 16px;
  border: 2px solid var(--constant-grey);
  border-radius: 16px;
  background: none;
  box-shadow: 0 0 8px 8px var(--constant-white-alpha12);
  color: var(--constant-grey);
  font-size: 16px;
  font-weight: 900;
}
