.news {
  padding: 48px 10px;
  gap: 24px;
  background-color: var(--constant-grey);
}

.news__title {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: var(--constant-accent);
}

.news__card {
  width: 100%;
  max-width: 360px;
  border: 1px solid var(--constant-font);
  box-shadow: 0 0 8px 1px var(--constant-accent);
  border-radius: 0 0 8px 8px;
}

.news__card-image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.news__card-title {
  font-weight: 700;
  font-size: 20px;
  margin: 12px 0;
  padding: 0 8px;
}

.news__card-p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 8px;
  padding: 0 8px;
}
